<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/Css/main.css">
    <!-- <link rel="stylesheet" href="/Css/Product.css"> -->
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
     <main>
            <h1>My Products</h1>
            <p>List of all the Products...</p>
            <% if(prods.length >0){%>
              <% for (let product of prods){%>
            <div class="product-container">
            <article>
                <header>
                <h1><%= product.title %></h1>
                </header>
                <div class="product-image">
                <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                </div>
                <div class="product-details">
                <h2>$<%= product.price %></h2>
                <p><%= product.description%></p>
                </div>
                <button>
                Add To Cart
                </button>
            </article>
            </div>
            <% } %>
            <%} else{  %>
                <h1>Can't found</h1>
            <%} %>
        </main>
<%- include('../includes/end.ejs')%>